<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <coverage>
    <report>
      <html outputDirectory="build/coverage"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="unit">
      <directory>test/Unit</directory>
    </testsuite>
    <testsuite name="database">
      <directory>test/Db</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">lib</directory>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>